{extend name="layout/dialog" /}
{block name='content'}
<style>
    .dialog-content{margin:20px;}
    .dialog-footer{position:fixed;right:39%;top:82%}
    .red-color{color:red;}
</style>
<div class="dialog-content">
    <form class="form-horizontal dialog-form" id="form">
        <div class="row">
            <div class="col-md-9">

                <div class="form-group">
                    <label for="username" class="col-sm-3 control-label">
                        <span class="red-color">*</span>上传图片：
                    </label>

                    <div class="col-sm-9">
                        <input type="file" onchange="uploadFiles()" style="display:none;" class="form-control form-control-sm" id="file" />
                        <img id="imgs" src="{$info.imgs|default=''}" style="width:90px;height:80px;">
                        <input type="hidden" id="Images" value="{$info.imgs}" />
                    </div>
                </div>

            </div>
        </div>
        <div class="td-align dialog-footer">
            <button class="btn btn-warning cancle"> <i class="fa fa-close"></i> 取消</button>
            <button class="btn btn-primary edit_save" type="button"  data-url="{:url('/v1/charts/chart/edit')}" data-id="{$info.id}"><i class="fa fa-save"></i> 确定提交</button>
        </div>
    </form>
</div>
{/block}
